<h1>My tasks</h1>
<% @tasks.each do |tasks| %>
<p> <%= link_to tasks.title, task_path(tasks)  %> </p>
    <%= link_to "Delete", task_path(tasks) ,data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
    <%= link_to "edit", edit_task_path(tasks)%>
<% end %>
<p> <%= link_to "create new", new_task_path %> </p>
